/* CSS Document */

body {
	padding-top: 50px;
	color: #000;
	background-color: #000000;
} 
h1 { 
          font-size: 67px; 
          font-size:6vw; 
          text-shadow: 1px 2px 3px red, -2px 3px 1px #000 } 

/**parallax background styles + vendor prefixes**/ 
.bg-1, .bg-2, .bg-3, .bg-4 { 
          background-position: center center; 
          -webkit-background-size: cover; 
          -moz-background-size: cover; 
          -o-background-size: cover; 
          -ms-background-size: cover; 
          background-size: cover; 
          background-repeat: no-repeat; 
          background-attachment:fixed; } 


.bg-1 {
	background-image: url(../images/1.jpg);
} 
.bg-2 {
	background-image: url(../images/2.jpg);
} 
.bg-3 {
	background-image: url(../images/3.jpg);
} 
.bg-4 {
	background-image: url(../images/4.jpg);
} 

.divider {height: 50px; } 
section { 
          height: 425px; 
          padding-top: 50px; 
          padding-bottom: 50px; 
          overflow: auto; 
          color:#FFF; } 
footer { 
          background-color:rgba(0,0,0,0.9); 
          padding-top: 20px; 
          padding-bottom: 20px; } 
footer a { color: #efefef; }
